<!doctype html>
<html>
    <head>
        <title>Kansas Computer Science Standards</title>
        <link href="/site.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="#" />
    </head>
    <body>
        <header>
          <div>
            <% if(locals.user) { %>
              Welcome <%= user.username %>!
              <a href="/forum/topics/new">Create a Topic</a>
              or
              <a href="/forum/topics/<%= id %>/posts">Create a Post</a>
            <% } %>
          </div>
            <a href="/signin">Sign In</a> 
            or
            <a href="/signup">Sign Up</a>
        </header>
        <header>
          <div>
          <a href="/">Home</a>
           <a href="/standards">Standards</a>
           <a href="/forum">Forum</a>
          </div>
        </header>
      <a href="/signout">Sign Out</a>
        <h1>
          <b>Kansas Computer Science Standards - Posts</b>
        </h1>
        <div class="div0">
          <p>Topic</p>
          <p>Author</p>
          <p>Posts</p>
          <p>Date Created</p>
          <p>ID</p>
        <div>
        </div>
        </div>
        <div id="boxes">
          <% infos.forEach((info) =>{ %>
            <div class="div1">
              <p class="sec1"><%= info.subject %></p>
            </div>
            <div class="div2">
                <p class="sec2"><%= info.author %></p>
              </div>
            <div class="div5">
              <p class="sec5"><%= info.body %></p>
            </div>
            <div class="div6">
              <p class="sec6"><%= info.date %></p>
            </div>
              <div class="div7">
                <p class="sec7"><%= id %></p>
              </div>
          <% }) %>
        </div>
        <script src="/site.js"></script>
    </body>
</html>